# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# PyCharm files
.idea/

# Virtual Environment
venv/
env/
*.env/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Compiled Python files
*.pyc

# Sphinx documentation
docs/_build/

# PyInstaller
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Sublime Text settings
.sublime-project
.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
